* { box-sizing: border-box; }
img { width: 100%; }

body {
  background: url(../img/paisley.png);
}


#logo {
  width: 150px;
  transition: all 0.1s ease;
}

#logo:hover {
  transform: scale(3) rotate(180deg);
}

.panel {
  opacity: 1;
  height: auto;
  margin-bottom: 0;
  transition: all 0.5s ease;
}

.panel-default>.panel-heading {
  background: mediumseagreen;
}

.list-group-item {
  cursor: pointer;
}


/*.fade-out {
  opacity: 0;
  height: 0;
  overflow: hidden;
}*/

#logout {
  float: right;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#logout:hover {
  transform: scale(2) rotate(360deg);
}

.list-group-item {
  transition: all .5s ease;
}

.list-group-item:hover {
  transform: scale(1.1);
  margin-bottom: 2px;
  background: lightgray;
}

  .button1 
  {
    border-radius: 5px;
      display: inline-block;
      margin: 0;
      padding: 0;
      position: relative !important;
      right: 0 !important;
      border: 1px solid darkgrey;
    background: deepskyblue;
    border-radius: 50px;
  }